<!DOCTYPE html>
<html lang="de">

<head>
    <title>Mavies Bücherbox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
<h1>Mavies Bücherbox</h1>
<div><a href="liste.html">Hier</a> sammelt Mavie Informationen über ihre Bücher</div>
<div id="app">
    <h3>Neues Buch eingeben!</h3>
    <form @submit.prevent="buchSpeichern">
        <div>
            <strong>Titel</strong> <input type="text" name="titel" v-model="form.titel"/>
        </div>
        <div>
            <strong>Autor</strong> <input type="text" name="autor" v-model="form.autor"/><br>
        </div>
        <div>
            <strong>Kategorien</strong><br>
            <input type="checkbox" id="abenteuerlich" value="abenteuerlich" v-model="form.kategorien"/>abenteuerlich<br>
            <input type="checkbox" id="Fantasie" value="Fantasie" v-model="form.kategorien"/> Fantasie<br>
            <input type="checkbox" id="lustig" value="lustig" v-model="form.kategorien"/> lustig<br>
            <input type="checkbox" id="gruselig" value="gruselig" v-model="form.kategorien"/> gruselig<br>
            <input type="checkbox" id="spannend" value="spannend" v-model="form.kategorien"/> spannend<br><br>
        </div>
        <div>
            <strong>Inhalt</strong><br>
            <textarea name="inhalt" cols="55" rows="7" v-model="form.inhalt"></textarea>
        </div>
        <button>Speichern</button>
    </form>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            form: {
                titel: '',
                autor: '',
                inhalt: '',
                kategorien: []
            }
        },
        methods: {
            buchSpeichern() {
                if(this.form.titel=='' || this.form.autor=='') {
                    alert("Titel und Autor sind Pflichtfelder!")
                    return;
                }
                axios.post('https://buecherbox-backend-api.herokuapp.com/api/buecher', {
                //axios.post('http://localhost:8080/api/buecher', {
                    titel: this.form.titel,
                    autor: this.form.autor,
                    kategorien: this.form.kategorien,
                    inhalt: this.form.inhalt
                }).then(data => {
                       window.location.href = "liste.html";
                   })
                   .catch(error => {
                       console.log(error.response);
                   });
            },
        }
    })
</script>
</body>

</html>
